@import url('https://fonts.googleapis.com/css2?family=Courier+New:400,700&display=swap');

* {
  font-family: 'Courier New', monospace; /* Usando a fonte 'Courier New' e backup 'monospace' */
  box-sizing: border-box;
  margin: 0;
}


