@import url('https://fonts.googleapis.com/css2?family=YourFont:400,700&display=swap'); /* Substitua 'YourFont' pela fonte desejada */

* {
  font-family: 'YourFont', sans-serif; /* Substitua 'YourFont' pela fonte desejada */
  box-sizing: border-box;
  margin: 0;
}


